/* Global */
:root {
    /* Color */
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #cae0e4;
--color-black: #000000;
--color-dark-grey: #8d9e9e;
--color-light-grey: #cfcdcdf3;
--color-grey: #6b6a6ac9;
--color-blue: #142330;
--color-dark-blue:#0c161f;
--color-light-blue:#38A0F8;
--color-blue2 : #2664c2;
--color-grey2: #3b3b3b;
    /* Font size */
--font-large: 48px;
--font-medium:28px;
--font-small : 16px;
--font-micro: 14px;

    /* Font weight */
--weight-bold: 700;
--weight-semi-bold: 600;
--weight-regular: 400;

    /* Size */
--size-border-radius: 4px;
}


/* 공통적용 tags */
*{
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: default;
    background-color: var(--color-blue);
    
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    list-style: none;
    padding: 0;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color : var(--color-dark-white);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color :var(--color-dark-white);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color : var(--color-dark-white);
    margin : 8px 0px;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color : var(--color-dark-white);
    margin : 4px 0px;
}


/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent ;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark{
    background-color: var(--color-dark-blue);
    padding: 8px;
    opacity: 0.9;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    
}

.navbar__menu {
    display:flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    border: 1px solid transparent;
}


.navbar__menu__item:hover{
    border-color: var(--color-light-white);
    background-color: var(--color-blue);
    
}
.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}
/* Home */
#home{
    padding: 40px;
    text-align: center;
    background-color: var(--color-dark-blue);
    padding-top: 100px;
}

.home__avatar{
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid var(--color-dark-blue);
}

.home__title,
.home__description {
    color: var(--color-dark-white);
    padding: auto;
    margin-top: 60px;
}

.home__contact{
    color: var(--color-light-blue);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-light-blue);
    border-radius: 4px;
}

/* Section */
.section_2 {
    color: var(--color-dark-white);
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.section_3 {
    color: var(--color-dark-white);
    padding: 50px;
    text-align: center;
    margin: auto;
}

/* About */
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon{
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    border: 1px solid var(--color-light-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-light-blue);
}

.major__title{
    color: var(--color-dark-grey);
}

.major__icon i {
    transition: all 300ms ease;
}
.major__icon:hover i{
    color: var(--color-blue2);
    transform: scale(1.2);
}

/* Timeline */
.container {
    padding: 2rem;
    padding-bottom: 100px;
    margin: 20px auto;
    max-width: 800px;
    background-color: var(--color-dark-blue)
}

.top-section{
    text-align: center;
    padding: 2rem 0;
    max-width: 600px;
    margin: 0 auto;
}

.timeline{
    position: relative;
    min-height: 150px;

}
.line{
    position: absolute;
    z-index: 2;
    left:calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: var(--color-dark-grey);
    display: none;
}

.line:before,
.line:after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color:var(--color-dark-grey);
    left: 50%;
    transform: translateX(-50%);
}

.line:after{
    bottom: 0;
}

.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 150px;

}

.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--color-dark-grey);
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.content{
    width: calc(50% - 2rem);
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}


/* Skills */

#skills{
    background-color: var(--color-dark-blue);
}

.skill{
    margin-bottom: 32px;
}
.skillset{
    margin: 30px 0;
    display: flex;
    background-color:  var(--color-grey);
}

.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-grey2);
    padding: 20px 40px;
}
.skillset__right{
    flex-basis: 40%;
}
.skill__value{
    height: 3px;
    background-color: var(--color-light-blue);
}
.skill_bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill_description{
    display: flex;
    justify-content: space-between;
}

.tools__list{
    padding: 20px;
}

/* Work */
#work{
    background-color: var(--color-dark-blue);
    margin-top: 20px;
}
.work_categories{
    margin: 40px;
}
.category_btn {
    width: 230px;
    border: 1px solid var(--color-dark-white);
    color: var(--color-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 8px 8px 40px;
    
}

.category_btn.selected,
.category_btn:hover {
    background-color: var(--color-blue);
}

.category_btn.selected .category_count,
.category_btn:hover .category_count{
    opacity: 1;
    top: 0;
}
.category_count{
    background-color: var(--color-light-blue);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    margin: 5px;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all 300ms ease-in;
}

.work_projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 300ms ease-in;
}

.work_projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-blue);
}

.project.invisible {
    display: none;
}

.project_img{
    max-width: 100%;
    max-height: 100%;
    
}
.project_description{
    position: absolute;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition:  all 300ms ease-in;
    transform: translateY(10px);
}
.project:hover .project_description{
    opacity: 0.8;
    transform: translateY(0px);
}

.project_description h3 {
    color: var(--color-light-blue);
}

.project_description h3:after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* Contact */

.contact_title{
    margin: 32px 0;
}

.contact_links{
    font-size: var(--font-large);
    margin: 24px 0;
}
.contact_img{
    width: 48px;
    height: 48px;
    transform: translateY(5px);
    transition: all 300ms ease-in;
}

.contact_links img:hover,
.contact_links i:hover{
    transform: scale(1.1);
    color: var(--color-light-blue);
}

.home__contact:hover {
    background-color: var(--color-blue);
}
/* Scroll */

/* 화면 크기 768px */
@media screen and (max-width: 768px){
    :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-small : 14px;
    --font-micro: 12px;

    }
    .navbar__toggle-btn{
        display: block;
        top: 16px;
        right: 16px;
        font-size: var(--font-medium);
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-dark-blue);
    }

    .navbar.navbar--dark{
        padding: 16px;
    }

    .section_2{
        padding: 16px;
    }

    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar__menu.open{
        display: block;
    }

    .home__avatar{
        width: 250px;
        height: 250px;
    }

    .about__majors{
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .major{
        margin-bottom: 30px;
    }
    
    .skillset{
        flex-direction: column;
    }

    .project{
        flex-grow: 1;
    }
    p{
        font-size: var(--font-micro);
    }
    .timeline_img{
        display: none;
    }
    .category_btn{
        width: 100%;
    }

}